@import "src/common/sass/variables";
.header {
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70px;
    background-color: $textColor;
}