@import "src/common/sass/variables";

.mainBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $backgroundSecondColor;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;

    .formContacts {
      display: flex;
      flex-direction: column;
      width: 70%;
      margin: 50px;
      @media screen and (max-width: 950px) {
        width: 100%;
      }

      & input {
        font-family: 'Poppins', sans-serif;
        @include contactsText;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 0.5rem;
        transition: 0.7s;
        &:focus{
          background-color: #4a4a4a;
        }
        &:hover{
          transition: 0.7s;
          background-color: #4a4a4a;
        }
      }

      & textarea {
        padding: 5px;
        resize: none;
        height: 120px;
        transition: 0.7s;
        @include contactsText;
        &:focus{
          background-color: #4a4a4a;
        }
        &:hover{
          transition: 0.7s;
          background-color: #4a4a4a;
        }
      }
    }
  }

  .buttonSubmit {
    padding: 15px;
    @include contactsText;
    transition: 0.7s;
    &:hover{
      transition: 0.7s;
      background-color: #4a4a4a;
      transform: scale(1.2) perspective(1px)
    }
  }

}
