.mainBlock{
    background-color: gainsboro;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
}
.button{
    padding: 7px 20px 7px 20px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    color: #868a9b;
    font-weight: 500;
}
.textWork{
    margin: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #18191d;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
}
