.mainBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F5F7;
}
.container {
    width: 80%;
}
.text {
    text-align: center;
}
.skillsBlock {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid;
}