.mainBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F4F5F7;
    padding-top: 50px;
}
.container {
    width: 80%;
}
.text {
    text-align: center;
}
.skillsBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 530px) {
.skillsBlock{
    justify-content: center;
}
}