@import "src/common/sass/variables";

.project {
  text-align: center;
  width: 300px;
  margin: 10px;
  background-color: $backgroundColorDark;
  transition: 0.7s;
  &:hover{
    transition: 0.7s;
    transform: scale(1.05) perspective(1px)
  }

  .imgProject {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }


    .buttonViewProject {
      position: relative;
      background: #333;
      z-index: 1;
      color: #fff;
      padding: 10px 20px;
      transition: 0.7s;
      &:hover{
        background: #4a4a4a;
        transition: 0.7s;
        transform: scale(1.1) perspective(1px)
      }
    }
  }

  .textTitle {
    margin: 5px 5px 15px 5px;
    font-size: 20px;
    font-weight: 500;
    color: $backgroundColor;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    padding: 5px;
  }

}


