@import "src/common/sass/variables";

.project {
  text-align: center;
  width: 400px;
  margin: 10px;
  background-color: $backgroundSecondColor;

  .imgProject {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    object-fit: cover;
    background-size: 300px;
    background-position: center;
    background-color: beige;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }


    .buttonViewProject {
      position: relative;
      background: #333;
      z-index: 1;
      color: #fff;
      padding: 10px 20px;

    }
  }

  .textTitle {
    margin: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #18191d;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
  }

  .textDiscription {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    margin: 0 0 20px;
    color: #868a9b;
    font-weight: 500;
  }
}


