.title{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    overflow: hidden;
}
.title h2::after{
    position: absolute;
    content: "";
    width: 5000px;
    height: 1px;
    background-color: #7d7789;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.title h2 {
    display: inline-block;
    position: relative;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 7px;
}

@media screen and (max-width: 1600px) {
    .title::after {
        margin-left: 170px;
    }
}