.mainBlock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #f6fbff;
    height: 220px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.myName{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 70px;
}

.textRights{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    letter-spacing: 2px;
}