.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6fbff;
}
.container {
    width: 80%;
}

.projectsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid;
}
